{% extends "base.html" %}
{% block title %} Home {% endblock %}
{% block content %}
    <div >
        <table class="table table-striped text-center">
            <caption>Lista de Empresas</caption>
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Nome da Empresa</th>
                <th scope="col">Taxa de Risco(%)</th>
                <th scope="col">Notas Fiscais</th>
                <th scope="col">Débitos</th>
                <th scope="col">Adicionar Arquivo</th>
            </tr>
            </thead>
            <tbody>
            {% for company in companies %}
                <tr>
                    <td>{{company.id}}</td>
                    <td>{{company.company_name}}</td>
                    <td>{{company.risk_rating}}</td>
                    <td>{{company.invoices}}</td>
                    <td>{{company.debits}}</td>
                    <td style="max-width: 250px;">
                        <div class="custom-file">
                            <form action="{{ url_for('send_file', id=company.id) }}" method="POST" enctype="multipart/form-data">
                                <input type="file" name="file" class="custom-file-input">
                                <label class="custom-file-label" for="customFile">Anexo</label>
                                <input type="submit" href="url_for('home')" class="btn btn-success ml-3" value="Enviar"></input>
                            </form>
                        </div>
                    </td>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}