{% if not current_user.is_authenticated %}
        <div>
            <a class="navbar-brand" href="{{ url_for('login') }}">Login</a>
            <a class="navbar-brand" href="{{ url_for('register') }}">Registrar</a>
        </div>
    {% else %}
        <a class="navbar-brand" href="{{ url_for('form_add_company') }}">Nova Empresa</a>
        <a class="navbar-brand" href="{{ url_for('account') }}">Conta</a>
        <a class="navbar-brand" href="{{ url_for('home') }}">Home</a>
        <a class="navbar-brand" href="{{ url_for('logout') }}">Sair</a>
{% endif %}